*{
    box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navBar h1 {
  margin: 0;
}

.navBar nav {
  display: flex;
  gap: 1rem;
}

.Splash {
    background-image: url("./images/ronnie_ringo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
}


.cardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.cardsGrid img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.usGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.usGrid div {
  width: 300px;
  height: auto;
  background-color:brown;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
    
}