*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.normalSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.Splash {
    background-image: url("./images/ronnie_ringo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.writing {
    max-width: 80%;
    margin: 80px auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.1em;
    line-height: 1.8;
}

.cardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.cardsGrid img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.usGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.usGrid div {
  height: auto;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}

.usGrid img {
    width: 100%;
}

